@import 'styles/_variables.less';
.header--title {
  font-size: 14px;
  font-weight: 600;
}

.header--date {
  padding-top: 4px;
  font-size: 12px;
  color: @black;
}

.time-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.time--red {
  color: @error-color;
}

.time--green {
  color: @success-color;
}
