.container {
  margin-bottom: 24px;
  display: flex;
  :global {
    .ant-card-body {
      padding: 12px;
    }
  }
  .card__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border-color: #ccc;
  }
}
