@import 'styles/_variables.less';

.header {
  height: 75px !important;
  background-color: @white !important;
  position: fixed;
  top: 20px;
  right: 16px;
  bottom: 100%;
  border-radius: 8px;
  transition: all 0.2s;
}
