.container {
  justify-content: center;
  .header__title {
    font-size: 28px;
    font-weight: 700;
    margin: 10% 0 5%;
  }
  .infor--header {
    margin-bottom: 14px;
  }

  .text--bold {
    font-size: 15px;
    font-weight: 600;
    padding-left: 8px;
  }
}
