@import 'styles/_variables.less';

.modal__footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  .btn {
    &--save {
      padding: 0px 25px;
      margin-left: 20px;
    }
    &--approve {
      padding: 0px 20px;
      background-color: @success-color;
      border-color: @success-color;
      &:hover,
      &:focus,
      &:active {
        background-color: @success-color;
        border-color: @success-color;
        opacity: 0.8;
      }
    }
  }
}

.form__upload {
  :global {
    .ant-form-item-control-input-content > span {
      width: 100%;
    }
  }
}

.infor--header {
  margin-bottom: 14px;
}

.text--bold {
  font-size: 16px;
  font-weight: 600;
  padding-left: 8px;
}
