@import '_variables.less';

html,
body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @text-color !important;
  font-size: 14px;
}

code {
  font-family: 'Inter', sans-serif;
}

//Custom styles for ant menu
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: @primary-color !important;
  color: @white !important;
}

.ant-menu-submenu-selected {
  background-color: @primary-background-color !important;
  color: @text-color !important;
}

.ant-menu-item-selected a {
  color: @white !important;
}

.ant-menu-item-selected svg {
  stroke: @white !important;
  fill: @white !important;
}

.ant-menu-item-active {
  background-color: @primary-background-color !important;
}

.ant-menu-submenu-active:hover {
  background-color: @primary-background-color !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-active:hover .ant-menu-submenu-title {
  color: @text-color !important;
}

.menu__item {
  .anticon {
    font-size: 20px !important;
    min-width: 20px !important;
  }
}

.menu__item {
  .ant-menu-submenu-title {
    column-gap: 8px;
  }
}

//custom upload
.ant-upload.ant-upload-drag {
  height: auto !important;
}

.ant-picker-week-panel-row-selected td {
  background-color: @table-row-selected !important;

  &:first-child {
    background-color: @primary-color !important;
    border-radius: 100px 0 0 100px;
  }

  &:last-child {
    background-color: @primary-color !important;
    border-radius: 0 100px 100px 0;
  }
}

//Custom table antd
thead.ant-table-thead {
  > tr > th {
    background-color: @table-header !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: @text-color;

    &:first-child {
      padding-left: 24px !important;
    }

    &::before {
      width: 1px !important;
      background-color: @light-black !important;
    }

    &:active,
    &:target,
    &:focus {
      background-color: @table-row-selected !important;
    }
  }
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: @table-row-selected !important;
}

.ant-picker-status-error.ant-picker {
  border-color: @color-icon-req-label-form !important;
}

.ant-checkbox-inner {
  width: 18px;
  height: 18px;
}

.ant-checkbox-inner::after {
  left: 25%;
}

td.ant-table-cell {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;

  &:first-child {
    padding-left: 24px !important;
  }
}

.ant-layout-sider-children {
  overflow-y: auto;
}

.ant-row.ant-form-item-row {
  display: block !important;
}

//custom disabled styles for components
.ant-input-disabled,
.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-picker.ant-picker-disabled,
.ant-input-affix-wrapper-disabled,
.ant-checkbox-disabled .ant-checkbox-inner,
.ant-input[disabled],
.ant-picker-input > input[disabled],
.ant-checkbox-disabled + span,
.ant-radio-disabled + span {
  background-color: @white !important;
  color: @text-color !important;
}

.ant-picker-large .ant-picker-input > input {
  text-align: center;
  width: 215px;
}

.ant-form-item-control-input-content .ant-select-selector {
  border-radius: 8px !important;
}

.ant-layout-footer {
  padding: 13px 50px !important;
  background: @white !important;
}

nav.ant-breadcrumb {
  margin: 8px 0 10px 0px !important;
}

//Custom card antd
.table-card {
  .ant-card-head {
    .ant-card-extra {
      width: 100%;
      margin-left: unset;
      padding: 16px 24px 0;
    }
  }

  .ant-pagination {
    margin: 24px 18px !important;
    .ant-pagination-item {
      border-radius: 8px !important;
    }

    .ant-select-selector {
      border-radius: 6px !important;
    }
  }

  .ant-card-body {
    padding: 22px 24px 0px 24px !important;
  }
}

.ant-card {
  border-radius: 8px !important;
}

.ant-modal-content {
  border-radius: 8px !important;

  .ant-modal-header {
    background-color: @primary-color !important;
    border-radius: 8px 8px 0 0 !important;

    .ant-modal-title {
      color: @white !important;
    }
  }
}

.ant-input-number {
  width: 100% !important;
}

.ant-picker-large .ant-picker-input > input {
  width: fit-content;
}

.ant-picker {
  border-radius: 8px !important;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mb-0 {
  margin-bottom: 0 !important;
}

//Custom sorter antd
.ant-table-column-sorter {
  color: @light-black !important;
  .anticon.active {
    color: @primary-color !important;
  }
}

//Custom filter antd
.ant-table-filter-trigger {
  color: @light-black !important;
}

.ant-table-filter-trigger.active {
  color: @primary-color !important;
}

.h-100vh {
  height: 100vh !important;
}
.ant-select-item.ant-select-item-group {
  color: @primary-color;
  font-weight: 600;
  font-size: 14px;
}
.filter-container {
  width: 100%;
  height: auto;
  background-color: @white;
  padding: 12px 0 0 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
  .filter-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: @light-black;
    margin-bottom: 16px;
  }
}

.ant-form-item-label > label::after {
  content: none !important;
}

//Custom tabs antd
.ant-tabs-nav-wrap {
  margin-left: 44px;
}

.ant-tabs-tab:first-child {
  border-radius: 8px 0px 0px 0px !important;
  border-left: 0px !important;
}

//Common styles
.menu-action {
  display: flex;
  justify-content: space-around;
}

.cursor-pointer {
  cursor: pointer;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 18px;
}

.header__title {
  font-size: 28px;
  font-weight: 700;
}
