@import 'styles/_variables.less';

.container {
  background-color: @white;
  width: 24rem;
  position: absolute !important;
  min-height: 100px;
  box-shadow: @color-box-shadow;
  top: 66px;
  right: -3px;
  border-radius: 8px;
  // display: block;
  .title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 1.4rem;
  }
  .item {
    cursor: pointer;
    padding: 1.2rem 0.8rem;
    margin: 0 0.4rem;
    .item__content {
      max-width: 92%;
    }
    :global {
      .ant-list-item-meta {
        align-items: center;
      }
    }
  }
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.text__bold {
  font-weight: 600;
  color: @text-color;
}
