@import 'styles/_variables.less';

.container {
  background-color: #f0f2f5 !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  .main {
    width: 40%;
    height: fit-content;
    background-color: @white;
    padding: 14px 34px 14px;
    margin: 48px 0;
    border-radius: 8px;
    :global {
      .ant-divider-horizontal {
        margin: 10px 0 !important;
      }
    }
    .header__section {
      padding: 0 20px;
      justify-content: center;
      .header__title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 32px;
      }
    }
    .content__section {
      padding: 0 50px;
    }
  }
}
