@import 'styles/_variables.less';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .icon {
    svg {
      height: 4em;
      width: 4em;
    }
    &--error {
      color: @error-color !important;
    }
    &--success {
      color: @success-color !important;
    }
    &--warning {
      color: @warning-color !important;
    }
  }

  &__title {
    margin-top: 12px;
    font-weight: 500;
    font-size: 20px;
  }
  &__message {
    margin-top: 10px;
    font-size: 14px;
  }
  &__button {
    display: flex;
    margin-top: 16px;
    gap: 24px;
  }
}
